{% extends "layout.html" %}

{% block title %}Profile | {{  user }}{% endblock %}

{% block body %}
    <div class="grid-80" style="word-wrap: break-word;">
    <h1>{{ user.username }}</h1>
    {% if profile.avatar %}
        <img src="{{ profile.avatar.url }}" alt="{{ usr }} avatar">
    {% endif %}
        <p>Name: {{ user.first_name }} {{ user.last_name }}</p>
        <p>Birthday: {{ profile.birthday }}</p>
        <p>E-mail: {{ user.email|urlize }}</p>
        <p>Bio: {{ profile.bio|linebreaksbr }}</p>
        <a href="{% url 'accounts:profile_edit' %}"><button class="button-primary">Edit Profile</button></a>
        <a href="{% url 'accounts:change_password' %}"><button class="button-secondary">Change Password</button></a>
    </div>
{% endblock %}